#There was a very weird error when invoking "summary" function. Thanks to Dr. Les Klimczak who helped to figure it out.
importFrom(Matrix, summary)
importFrom(vsn, vsn2)
importFrom(Biobase, pData, exprs)
importFrom(lme4,lmer,VarCorr,sigma,getME)

##export everything that does not start with a .
exportPattern("^[^\\.]")
